<div *ngIf="!isLoading">
    <breadcrumb title="Galeria"></breadcrumb>

    <div class="galeria-container">
        <div *ngFor="let obra of lightboxImagemViewModel">
            <img [src]="obra.imageUrl" />
            <div class="card-lightbox" [id]="obra.id" (click)="onClickImagem(obra)">
                Clique para visualizar
            </div>
        </div>
        <lightbox [imagens]="lightboxImagemViewModel" [imagemSelecionada]="imagemSelecionada"></lightbox>
    </div>
</div>

<div *ngIf="isLoading">
    <mat-spinner></mat-spinner>
</div>