  <div #carouselRef class="carousel">
    <a class="carousel-item" href="#one!"><img src="https://edfalcao-app.s3.us-east-1.amazonaws.com/destaques/academico-1.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="https://edfalcao-app.s3.us-east-1.amazonaws.com/destaques/academico-2.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="https://edfalcao-app.s3.us-east-1.amazonaws.com/destaques/academico-3.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="https://edfalcao-app.s3.us-east-1.amazonaws.com/destaques/academico-4.jpg"></a>
    <a class="carousel-item" href="#five!"><img src="https://edfalcao-app.s3.us-east-1.amazonaws.com/destaques/academico-5.jpg"></a>
  </div>
      