@use '../../../variables.scss' as var;

::ng-deep body {
    overflow-x: hidden;
}

.biografia-container {
    background-color: var(--azul-escuro-3);
    color: var(--branco);

    .row {
        padding: 60px;
    }

    .img-edfalcao {
        border-radius: 12px;
        height: 400px;
        width: auto;
        margin-bottom: 30px;
    }

    .img-destaque {
        width: 800px;
        height: auto;
        border-radius: 12px;
        margin-bottom: 30px;
        float: right;
    }

    .img-destaque-x {
        width: 100%;
        height: 380px;
        object-fit: cover;
        border-radius: 12px;
    }

    div.bio-descricao {
        font-size: 22px;
        font-weight: 100;
    }

    /* Mobile Styles */
    @media screen and (max-width: var.$mobile-width) {
        img {
            width: 100%;
        }

        .img-destaque {
            float: none;
            width: 100%;
        }
    }

    @media screen and (max-width: var.$mobile-width-sm) {
         .row {
            padding-bottom: 0;
            padding-top: 0;
            padding-left: 60px;
            padding-right: 60px;
        }

        img {
            width: 100%;
        }

        .img-destaque {
            float: none;
        }

        .img-destaque-x {
            margin-bottom: 30px;
            width: 100%;
        }
     
        .col-edfalcao-img {
            text-align: center;
        }
    }

    @media screen and (max-width: var.$mobile-width-xsm) {
        .row {
            padding-bottom: 0;
            padding-top: 0;
            padding-left: 60px;
            padding-right: 60px;
        }

        img {
            width: 100%;
        }

        .img-destaque {
            float: none;
        }

        .img-destaque-x {
            margin-bottom: 30px;
            width: 100%;
        }
    }

}

:host ::ng-deep .texto-em-destaque {
    -webkit-text-stroke: 1px var(--branco);
}

:host ::ng-deep .material-symbols-outlined {
    color: var(--branco)
}

p {
    font-size: 22px;
    font-weight: 100;
}