<div class="message-box-container">
    <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
            <mat-card-title>
                <span class="u-bold u-azul-escuro-2">{{title}}</span>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div style="text-align: center;">
                <img src="img/building.png" style="height: 250px;" />
            </div>
            <p>{{message}}</p>
        </mat-card-content>
    </mat-card>
</div>
