<header>
    <div>
        <img src="/img/falcao.png" />
        <span class="logo-title">Ed Falcão</span>
    </div>
<!--     
    <div>
        <button mat-raised-button color="primary" class="btn-fazerLogin">
            ENTRAR
        </button>
    </div> -->
    
</header>
<header class="header-2">
    <div>
        <nav>
            <ul>
                <li>
                    <a routerLink="/">Home</a>
                    <div class="hover-border"></div>
                </li>
                <li>
                    <a routerLink="/about">Obras</a>
                    <div class="hover-border"></div>
                </li>
                <li>
                    <a routerLink="/about">Eventos</a>
                    <div class="hover-border"></div>
                </li>
                <li>
                    <a routerLink="/about">Biografia</a>
                    <div class="hover-border"></div>
                </li>
                <li>
                    <a routerLink="/contact">Contato</a>
                    <div class="hover-border"></div>
                </li>
            </ul>
        </nav>
    </div>
</header>