<header>
    <div>
        <img src="/img/falcao.png" />
        <span class="logo-title">Ed Falcão</span>
    </div>
    <div>
        <nav>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/about">Obras</a></li>
                <li><a routerLink="/about">Eventos</a></li>
                <li><a routerLink="/about">Biografia</a></li>
                <li><a routerLink="/contact">Contato</a></li>
            </ul>
        </nav>
    </div>
    <div>
        <button mat-raised-button color="primary" class="btn-fazerLogin">
            ENTRAR
        </button>
    </div>
</header>