header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 48px;
    background-color: var(--azul-escuro-2);
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 23px;

    div {
        margin: 0px 30px 0px 30px;
    }

    .logo-title {
        font-size: 32px;
        font-weight: bold;
        position: absolute;
        left: 110px;
        top: 20px;
        color: var(--branco);
    }

    img {
        margin-top: -32px;
        position: absolute;
    }

    .menu-mobile-section {
        color: var(--branco);
        margin-right: 56px;
    }

    .menu-mobile-section:hover {
        cursor: pointer;
    }    
}

.header-2 {
    background: var(--branco);
    border-bottom: 1px solid silver;

    ul {
        padding-left: 10px;
    }
}



