@use '../../../variables.scss' as var;

.breadcrumb-container {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    padding-left: 50px;
    padding-right: 60px;

    @media screen and (max-width: var.$mobile-width) {
        padding-bottom: 2vh;
    }

    .left-arrow-icon {
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    h6 {
        font-weight: bold;
    }

    
}