<div class="menu-mobile-container">
    <div class="menu-mobile-grid">
        <div>
            <img src="/img/falcao.png" />
            <span class="logo-title">Ed Falcão</span>
        </div>
        <div>
            <span class="material-symbols-outlined close-icon" (click)="mobileMenuService.closeMenuMobile()">
                close
            </span>
        </div>
    </div>

    <div class="menu-mobile-list">
        <mat-action-list>
            <button mat-list-item (click)="action(menuItem.url)" *ngFor="let menuItem of menuItems">
                <span class="u-bold">{{ menuItem.title }}</span>
                <div class="menu-mobile-container-icon">
                    <span class="material-symbols-outlined">
                        chevron_right
                    </span>
                </div>
            </button>          
        </mat-action-list>
    </div>
</div>