.menu-mobile-container {
    position: fixed;
    height: 100%;
    width: 400px;
    background-color: var(--branco);
    top: 0;
    left: -400px;
    transition: left 0.3s;

    .menu-mobile-grid {
        margin: 30px 50px 0px 50px;
        display: grid;
        grid-template-columns: auto auto;

        div {
            .logo-title {
                font-size: 32px;
                font-weight: bold;
                position: absolute;
                left: 110px;
                top: 60px;
                color: var(--preto);
            }

            img {
                margin-left: -20px;
                filter: invert(100%);
            }

            .close-icon {
                display: inline-grid;
                float: right;
                padding-top: 30px;
                transition: color 0.3s;
            }

            .close-icon:hover {
                cursor: pointer;
                color: var(--azul-escuro-2);
            }
        }
    }

    .menu-mobile-list {
        button {
            padding-left: 53px;
            padding-right: 53px;
        }

        .menu-mobile-container-icon {
            float: right;
        }
    }

    .btn-login-container {
        text-align: center;
        padding-top: 74px;

        button {
            width: 155px;
            border: none;
            padding: 12px 24px;
            font-weight: bold;
            cursor: pointer;
            transition: transform 0.2s, box-shadow 0.2s;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            color: var(--azul-escuro-2);
        }
    }
}