.lightbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    .lightbox-header {
        position: fixed;
        top: 20px;
        right: 20px;
        color: var(--branco);
        
        .close-icon {
            font-size: 32px;
            color: var(--branco);
            transition: transform .3s;
        }

        .close-icon:hover {
            transform: scale(1.4);
            color: var(--dourado);
            cursor: pointer;

        }
    }
}

img {
    height: auto;
    width: 100%;
}

.actions {
    position: fixed;
    top: 50%;
    color: var(--branco);
    border-radius: 50px;
    padding: 10px;
    color: var(--branco);
    background-color: rgba(0, 0, 0, 0.7);
    transition: background-color .3s;
    

    span {
        vertical-align: -7px;
    }
}

.actions:hover {
    cursor: pointer;
    background-color: var(--dourado);
}