<div class="lightbox-container u-hide" id="lightbox">
    <div class="lightbox-header">
        <div (click)="lightboxService.close()">
            <span class="material-symbols-outlined close-icon">
                close
            </span>
        </div>
    </div>
    <div>
        <img [src]="imagemSelecionada.imageUrl" [id]="imagemSelecionada.id" *ngIf="imagemSelecionada" />
    </div>
    <div style="left: 10px;" class="actions" (click)="onClickPrevious($event, imagemSelecionada.id)">
        <span class="material-symbols-outlined">
            chevron_left
        </span>

    </div>
    <div style="right: 10px;" class="actions" (click)="onClickNext($event, imagemSelecionada.id)">
        <span class="material-symbols-outlined">
            chevron_right
        </span>
    </div>
</div>