<section class="carousel">
    <h3>Destaques</h3>
    <p>{{ carouselText }}</p>
    <carousel [carouselItems]="carouselViewModel" (onSetCarouselText)="setCarouselText($event)"></carousel>
</section>

<section class="show-on-small hide-on-large">
    <mobile-carousel></mobile-carousel>
</section>

<section class="about u-top-radius">
    <div class="hide-on-small">
        <img src="https://edfalcao-app.s3.us-east-1.amazonaws.com/img/edfalcao-ao-lado-quadro-exu.png" />
    </div>
    <div class="container-bio">
        <h3>Sobre o artista <span class="u-dourado line-break">Ed Falcão</span></h3>
        <div class="show-on-small hide-on-large">
            <img [src]="sobreViewModel.imageUrl" />
        </div>
        <p>{{ sobreViewModel.bio }}</p>

        <div class="button-container">
            <button mat-button>Biografia Completa</button>
        </div>
    </div>
</section>

<section class="obras u-top-radius">
    <h3>Principais <span class="u-dourado">Obras</span></h3>
    <p>As obras de Ed Falcão unem arte, história e emoção. Com traços firmes e cores vibrantes, ele expressa a força, a
        espiritualidade
        e a beleza do povo afro-brasileiro, transformando a memória cultural em arte viva.</p>

   <grid-gallery [gridViewModel]="gridViewModel"></grid-gallery>
</section>