@use '../../../variables.scss' as var;

section,
::ng-deep mat-card-title {
    font-family: 'Font Hero', sans-serif !important;
}


section.carousel {
    padding-top: 50px;
    padding-bottom: 75px;
    height: 500px;
    color: var(--branco);

    h3,
    p {
        text-align: center;
    }

    p {
        font-size: 22px;
        margin-bottom: 30px;
    }
}

section.about {
    display: grid;
    grid-template-columns: auto auto;
    background-color: var(--azul-escuro-2);
    color: var(--branco);
    padding: 90px 120px 120px 120px;
    justify-content: center;
    column-gap: 50px;

    p {
        font-size: 22px;
        font-weight: 100;
    }

    img {
        border-radius: 20px;
    }

    .button-container {
        margin-top: 42px;

        button {
            background: linear-gradient(45deg, #F5A623 10%, #D48806 90%);
            color: var(--branco);
            width: 200px;
        }
    }

    /* Mobile Styles */
    @media screen and (max-width: var.$mobile-width) {
        grid-template-columns: auto 600px;
        column-gap: 50px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 30px;


        p {
            font-size: var.$font-size-20;
        }

        img {
            width: 700px;
            margin-bottom: 20px;
        }

        .button-container {
            margin-top: 10px;

            button {
                width: 100%;
            }
        }
    }

    @media screen and (max-width: var.$mobile-width-sm) {
        grid-template-columns: auto;

        h3 {
            text-align: center;
        }

        img {
            width: 100%;
        }
    }
}


section.obras {
    background: var(--azul-escuro-3);
    margin-top: -42px;

    h3 {
        padding-top: 50px;
        padding-left: 50px;
        color: var(--branco);
        margin-bottom: 35px;
    }

    p {
        font-weight: 100;
        color: var(--branco);
        font-size: 22px;
        padding-left: 46px;
        text-align: left;
    }

    @media screen and (max-width: var.$mobile-width) {
        grid-template-columns: auto;

        p {
            padding-left: 48px;
            padding-right: 48px;
            font-size: var.$font-size-20
        }
    }

    .obras-grid {
        display: grid;
        grid-template-columns: auto auto auto auto;
        padding: 60px;
        place-items: center;
        column-gap: 30px;

        img {
            height: 452px;
            width: 100%;
        }

        ::ng-deep mat-card {
            border: none;
            background-image: linear-gradient(to right, var(--azul-escuro-1), var(--azul-escuro-2));
            margin-bottom: 30px;
        }

        ::ng-deep .mat-mdc-button .mat-ripple-element,
        ::ng-deep .mat-mdc-raised-button .mat-ripple-element {
            background-color: rgba(255, 255, 255, 0.3) !important;
        }

        button {
            color: var(--branco)
        }

        /* Mobile Styles */
        @media screen and (max-width: var.$mobile-width) {
            grid-template-columns: auto auto auto;
            padding-left: 20px;
            padding-right: 20px;
            gap: 30px;
        }

        @media screen and (max-width: var.$mobile-width-sm) {
            grid-template-columns: auto auto;
            gap: 20px;
        }

        @media screen and (max-width: var.$mobile-width-xsm) {
            grid-template-columns: auto;
        }
    }
}

.example-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url('https://material.angular.dev/assets/img/examples/shiba1.jpg');
    background-size: cover;
}