<section class="carousel">
    <h3>Destaques</h3>
    <p>{{ carouselText }}</p>
    <carousel [carouselItems]="carouselItems" (onSetCarouselText)="setCarouselText($event)"></carousel>
</section>

<section class="show-on-small hide-on-large">
    <mobile-carousel></mobile-carousel>
</section>

<section class="about u-top-radius">
    <div class="hide-on-small">
        <img src="https://edfalcao-app.s3.us-east-1.amazonaws.com/img/edfalcao-ao-lado-quadro-exu.png" />
    </div>
    <div class="container-bio">
        <h3>Sobre o artista <span class="u-dourado line-break">Ed Falcão</span></h3>
        <div class="show-on-small hide-on-large">
            <img src="https://edfalcao-app.s3.us-east-1.amazonaws.com/img/edfalcao-ao-lado-quadro-exu.png" />
        </div>
        <p>Membro da Academia Brasileira de Belas Artes (cadeira nº 50), da Academia de Letras e Artes Paranapuã
            (cadeira
            nº 38) e da Academia de Letras e Artes da Mantiqueira (cadeira nº 38 – FALASP), além de membro
            correspondente das Academias de Cabo Frio e de Búzios. Nascido no Rio de Janeiro, iniciou-se na pintura
            influenciado por sua cultura e incentivado por familiares e pela artista plástica Janete Boaventura. Seu
            trabalho retrata a cultura, o cotidiano e os momentos históricos do povo afrobrasileiro, em um gesto de
            resgate e gratidão aos ancestrais que, mesmo sob dor e sofrimento, deixaram um legado de força e
            liberdade.</p>

        <div class="button-container">
            <button mat-button>Biografia Completa</button>
        </div>
    </div>
</section>

<section class="obras u-top-radius">
    <h3>Principais <span class="u-dourado">Obras</span></h3>
    <p>As obras de Ed Falcão unem arte, história e emoção. Com traços firmes e cores vibrantes, ele expressa a força, a
        espiritualidade
        e a beleza do povo afro-brasileiro, transformando a memória cultural em arte viva.</p>
    <div class="obras-grid">
        <div>
            <mat-card class="example-card" appearance="outlined">
                <img mat-card-image
                    src="https://edfalcao-app.s3.us-east-1.amazonaws.com/img/principais+obras/obra-p-0.jpg" />
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </div>

        <div>
            <mat-card class="example-card" appearance="outlined">
                <img mat-card-image
                    src="https://edfalcao-app.s3.us-east-1.amazonaws.com/img/principais+obras/obra-p-1.jpg" />
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </div>

        <div>
            <mat-card class="example-card" appearance="outlined">
                <img mat-card-image
                    src="https://edfalcao-app.s3.us-east-1.amazonaws.com/img/principais+obras/obra-p-2.jpg" />
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </div>

        <div>
            <mat-card class="example-card" appearance="outlined">
                <img mat-card-image
                    src="https://edfalcao-app.s3.us-east-1.amazonaws.com/img/principais+obras/obra-p-3.jpg" />
                <mat-card-content>
                    <p>

                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</section>