section.carousel {
    padding-top: 50px;
    padding-bottom: 50px;
    height: 500px;    

    h3, p {
        text-align: center;
    }

    p {
        font-size: 22px;
        margin-bottom: 30px;
    }
}
