@use '../../../../variables.scss' as var;

/* Usamos ::ng-deep porque o Owl Carousel gera tags HTML dinamicamente */
:host ::ng-deep .owl-carousel .owl-item img {
    height: auto;
    /* Defina a altura que desejar */
    width: 90%;
    /* Garante que preencha a largura do slide */
    // object-fit: cover;
    /* Recorta a imagem para preencher sem distorcer */
    object-position: top;
    /* Garante que o centro da foto seja o foco */
    border-radius: 12px;

    // @media screen and (max-width: var.$mobile-width-xsm) {        
    //     height: 142px !important;   
    // }
}


/* Container das setas */
:host ::ng-deep .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    pointer-events: none;
    /* Garante que você ainda consiga clicar nas fotos */
}

/* Estilo geral dos botões (setas) */
:host ::ng-deep .owl-prev,
:host ::ng-deep .owl-next {
    pointer-events: all;
    /* Devolve o clique para os botões */
    background: rgba(0, 0, 0, 0.5) !important;
    /* Fundo preto semi-transparente */
    color: white !important;
    border-radius: 50% !important;
    width: 40px;
    height: 46px;
    font-size: 24px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s;
}

:host ::ng-deep .owl-prev:hover,
:host ::ng-deep .owl-next:hover {
    background: var(--dourado-2) !important;
}

/* Ajuste fino da posição para não ficarem coladas na borda */
:host ::ng-deep .owl-prev {
    margin-left: -20px;
}

:host ::ng-deep .owl-next {
    margin-right: -20px;
}

:host ::ng-deep .material-icon {
    vertical-align: -18px;
    font-size: 32px;
    padding-left: 0px;
}

:host ::ng-deep .owl-stage-outer {
    border-radius: 20px !important;
}

@media screen and (max-width: var.$mobile-width) {
    ::ng-deep .owl-carousel {
        margin-left: 20px;
    }
}

@media screen and (max-width: var.$mobile-width-xsm) {
    ::ng-deep .owl-carousel {
        border: none;
        margin-left: 20px;
    }

    ::ng-deep .owl-theme .owl-nav {
        margin-left: -20px;
    }
}