@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

// 1. Primeiro as funções (para o Sass saber processar as cores)
@import "../node_modules/materialize-css/sass/components/color-variables";

// 2. Depois as variáveis (que usam as funções acima)
@import "../node_modules/materialize-css/sass/components/variables";

// 3. Agora os componentes específicos que você quer
@import "../node_modules/materialize-css/sass/components/carousel";

// Opcional: Efeito de clique (Waves)
@import "../node_modules/materialize-css/sass/components/waves";



:root {
    --azul-escuro-1: #2B5A8E;
    --azul-escuro-2: #0069B2;
    --branco: #FFFFFF;
    --preto: #000000;
    --gelo: #F0F2F4;
    --gelo-2: #778698;
    --dourado: #F5A623 ;
    --dourado-2: #FF9F1C; 
}

/* Regular */
@font-face {
    font-family: 'Font Hero';
    src: url('https://edfalcao-app.s3.us-east-1.amazonaws.com/fonts/Hero-Regular.ttf') format('truetype');
    font-weight: 400; /* ou normal */
    font-style: normal;
    font-display: swap;
}

/* Bold */
@font-face {
    font-family: 'Font Hero';
    src: url('https://edfalcao-app.s3.us-east-1.amazonaws.com/fonts/Hero-Bold.ttf') format('truetype');
    font-weight: 700; /* ou bold */
    font-style: normal;
    font-display: swap;
}

/* Light */
@font-face {
    font-family: 'Font Hero';
    src: url('https://edfalcao-app.s3.us-east-1.amazonaws.com/fonts/Hero-Light.ttf') format('truetype');
    font-weight: 300; /* ou light */
    font-style: normal;
    font-display: swap;
}


body {
    margin: 0;
    padding: 0;
    background-color: var(--gelo);

}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
    font-family: 'Font Hero', sans-serif !important;
}

h3 {
    font-weight: bold !important;
}

/* utilitários */
.u-hide {
    display: none;
}

.u-white {
    color: var(--branco);
}

/* tamanhos utilitários */
.u-size-32 {
    font-size: 32px;
}

.u-size-18 {
    font-size: 18px;
}

.u-marginTop-minus-4 {
    margin-top: -4px;
}

/* cores utilitárias */
.u-azul-escuro-2 {
    color: var(--azul-escuro-2);
}

.u-dourado {
    color: var(--dourado);
}

.u-bold {
    font-weight: bold !important;
}

.u-w-100 {
    width: 100%;
}

.u-pointer {
    cursor: pointer;
}

.show-on-small {
    @media screen and (max-width: 1064px) {
        display: block;
    }
}

.hide-on-small {
    @media screen and (max-width: 1064px) {
        display: none;
    }
}

.hide-on-large {
    @media screen and (min-width: 1065px) {
        display: none;
    }
}