:root {
    --azul-escuro-1: #2B5A8E;
    --azul-escuro-2: #0069B2;
    --branco: #FFFFFF;
    --preto: #000000;
    --gelo: #F0F2F4;
}

@font-face {
    font-family: 'Font Hero'; 
    src: url('assets/fonts/Hero-Regular.ttf') format('truetype'),
         url('assets/fonts/Hero-Bold.ttf') format('truetype'),
         url('assets/fonts/Hero-Light.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal;
    font-display: swap; 
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--gelo);
    color: var(--branco);
    font-family: 'Font Hero' !important;

}