<footer class="u-hide">
    <div class="row">
        <div class="col-xs-12 col-lg-6">
            <span class="u-bold">&copy; 2026 Ed Falcão.&nbsp;&nbsp; Artista Plástico e Acadêmico Imortal da Academia Brasileira de Belas Artes</span>
        </div>
        <div class="col-xs-12 col-lg-6">
            <div class="social-media">
                <img src="https://edfalcao-app.s3.us-east-1.amazonaws.com/icons/whatsapp-svgrepo-com.svg"  />
                <img src="https://edfalcao-app.s3.us-east-1.amazonaws.com/icons/instagram-svgrepo-com.svg"/>                
            </div>
        </div>
    </div>
</footer>       